

div{
    background-color: darkmagenta;
    height: 25vh;
    margin-top: 5%;
    padding: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
}

ul{
    color: white;
    list-style-type: none;
    

}