

footer {
    background-color: darkmagenta;
    height: 25vh;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;  
    width: 100%;
  }
  
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    
  }

  a{
    color: white;
    text-decoration: none;
} 


  
